body {
  margin: auto;
  font-family: 'Monstserrat', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
}

@media only screen and (max-width: 767.98px) {
  main, header {
    margin: 0rem 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  main, header {
    margin: 0rem 2rem;
  }
}