.error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 86vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FF6060;
}

.error h2 {
    font-weight: 700;
    font-size: 288px;
    margin: 0px;
}

.error p {
    font-weight: 500;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 10rem;
}

.error Link {
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
}